<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body>
  <div class="d-flex justify-content-end m-4">
    <a href="/admin" class="btn btn-warning w-10 rounded">Admin Panel</a>
   </div>
<div style="margin: 0 15%;">
  
  <h2 class="text-center mb-5" style="margin-top: 50x;">Select the category of COVID-19 research papers</h2>
  <div class="container-fluid">
   <form action="/query/economics" method="POST" onsubmit="return loadResults(event)">
  <select id="type" class="form-select ml-5 mr-5 my-2" aria-label="Default select example">
    <%data.forEach(function(node){%>
     <option value=<%=node%>><%=node%></option>
     <%});%>
 </select>
 <div class="d-flex justify-content-center mt-5">
 <input class="btn btn-primary w-25 rounded mb-5" type="submit">
</div>
</form>
 </div>
 <br>
 <div style="display:none !important" id="loader" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
  </div>
</div>
<div style="display:none !important" id="error" class="d-flex justify-content-center mt-5">
 <div class="alert alert-danger w-50 text-center" role="alert">
 </div>
 </div>
 <div id="result" class="container-fluid">
 </div>
</div>
</div>
	</body>
 <script>
  const loadResults=async(event)=>{
   event.preventDefault();
   let results= document.querySelector("#result");
   let err = document.querySelector("#error");
   results.innerHTML="";
   err.style.setProperty('display', 'none', 'important');
   const type = document.getElementById('type');
   
   let loader =document.getElementById('loader');
   loader.style.display='';
   const response = await fetch(`http://localhost:3000/query/${type.value}`,{method:'POST'});
   const result = await response.json();
   if(result.data){
    let tempStr="";
    result.data.forEach((paper)=>{
     loader.style.setProperty('display', 'none', 'important');
     let card =`<div class="card text-center mb-5">
   <div class="card-body">
     <h5 class="card-title">${paper.title}</h5>
     <p class="card-text">${paper.abstract}</p>
   </div>
 </div>`
 tempStr+= card;
    })
    results.innerHTML+=tempStr;
   }
   else{
    err.style.display='';
    loader.style.setProperty('display', 'none', 'important');
    let errorHeader = document.querySelector("#error div");
    errorHeader.textContent="Something went wrong";
   }
  }
 </script>
 </html>